article.presenter-page {
    .presenter {
        display: flex;
        flex-direction: row;
        margin-top: 1.5em;
        //border: 1px solid rgb(248, 248, 248);
        padding: 5px;
        margin: 5px;
        img {
            width: 100%;
            height: auto;
            flex-shrink: 0;
            padding: 25px;
            //border: 5px solid rgb(255, 255, 255);
            object-fit: cover;
            padding-left: 0px; 
        }
        .image-placeholder div {
            width: 30em;
            max-width: 50vw;
            height: 30em;
            max-height: 50vw;
        }
        .info{
            display: flex;
            align-content: center;
            // width: 300px;
            flex-direction: row;
            .name_link_oc{
                display:flex;
                flex-direction: column;
                max-width: 100%;
                padding: 2px;
                //border: 5px solid rgb(255, 255, 255);
                .name_link{
                    display:flex;
                    flex-direction: row;

                }

            }
            .content{
                line-height: 1.75;
                padding: 5px;
                //border: 5px solid rgb(255, 255, 255);

            }
        }
    }
    .activities{
        .activity{
            display: flex;
            flex-direction: column;
            margin-top: 1.5em;
            padding: 5px;
            border-left: 1px solid rgb(255, 255, 255);
            margin-left: 2.3%;
            .name_title{
                //border: 2px solid rgb(255, 255, 255);
                padding: 5px;
                margin: 10px;
            }
            .content{
                display: flex; 
                margin-right: 10em; 
                margin-left: 0.5em;
                padding: 5px;
            }
        }

    }
    h1 {
        margin-bottom: 1rem;
        font-weight: bold;
        color: rgb(255, 255, 255);
    }
    h6 {
        font-family: $font-family-sans-serif;
        font-weight: lighter;
        margin-bottom: 1rem;
    }
    h5 {
        margin-bottom: .25rem;
        color: rgb(255, 255, 255);
    }
        
}
